<div class="toast-container position-absolute">
  <div class="toast position-fixed w-100 bg-light" [ngClass]="{'show': showToast}" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header">
      <strong class="me-auto">{{weatherAlert?.activeAlertEvent}}</strong>
      <button type="button" class="btn-close" aria-label="Close" (click)="onClickCloseToast()"></button>
    </div>
    <div class="toast-body">
      <p class="truncate-description">{{weatherAlert?.activeAlertHeadline}}</p>
    </div>
    <div class="toast-footer">
      <div class="text-end pb-1 pe-3"><a class="text-decoration-none" routerLink="/weather">Alert Details</a></div>
    </div>
    <div class="timer-bar mx-auto" 
      [ngStyle]="{ 'width': toastTimeoutBarWidth + '%' }" 
      [ngClass]="{ 'bg-danger': weatherAlert?.activeAlertEvent?.includes('Warning') || weatherAlert?.activeAlertEvent?.includes('Extreme'), 
        'bg-warning': weatherAlert?.activeAlertEvent?.includes('Watch'), 
        'bg-blue': !(weatherAlert?.activeAlertEvent?.includes('Warning') || weatherAlert?.activeAlertEvent?.includes('Extreme') || weatherAlert?.activeAlertEvent?.includes('Watch')) }"></div>
  </div>
</div>
