<div class="toast-container position-absolute">
  <div class="toast position-fixed w-100" [ngClass]="{'show': showToast}" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header">
      <strong class="me-auto">{{weatherAlert?.activeAlertEvent}}</strong>
      <button type="button" class="btn-close" aria-label="Close" (click)="onClickCloseToast()"></button>
    </div>
    <div class="toast-body">
      <p>{{weatherAlert?.activeAlertDescription}}</p>
      <div class="text-end"><a class="text-decoration-none bg-primary ps-1 pe-1 rounded text-light h6 bg-opacity-70"routerLink="/weatherAlert"><i>View More...</i></a></div>
    </div>
  </div>
</div>
