.alert-wrapper {
  padding-top: 0;
  margin: 10px 5px;
  border: 1px solid #bfbfbf;
  background-color: white;
  border-radius: 6px;
  padding: 6px;
  padding-left: 10px;
  padding-right: 10px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.alert-heading-wrapper {
  display: flex;
}

.alert-icon {
  border: 2px solid;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  margin: 4px;
  margin-right: 8px;
}

.alert-heading {
  font-size: large;
  font-weight: bolder;
}