<div class="card my-2 p-2" (click)="isCardOpen = !isCardOpen">
  <div class="row">
    <div class="col">
      {{ facility?.heading }}
    </div>
    <div class="col text-end">
      {{ isCardOpen ? '&uarr;' : '&darr;' }}
    </div>
  </div>
  <ng-container *ngIf="isCardOpen">
    <div class="container mt-2">
      <div class="row">
        <div class="col-4">
          <div class="facilities-img-box">
          </div>
        </div>
        <div class="col font-smaller my-auto ms-3">
          <div class="row">
            Address
          </div>
          <div class="row">
            {{ facility?.address }}
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row font-smaller mt-4">
          <div class="col">
            LAT LONG
          </div>
          <div class="col text-end">
            UPDATE &rsaquo;
          </div>
          <div class="clean-hr"></div>
        </div>
        <div class="row font-smaller mt-3">
          <div class="col">
            GATE CODE
          </div>
          <div class="col text-end">
            ADD &rsaquo;
          </div>
          <div class="clean-hr"></div>
        </div>
        <div class="row font-smaller mt-3">
          <div class="col">
            NOTES
          </div>
          <div class="col text-end">
            POST A NOTE &rsaquo;
          </div>
          <div class="clean-hr"></div>
        </div>
        <div class="row">
          <div class="container ms-2 mt-2">
            <ng-container *ngIf="isFiber">
              <ng-container *ngIf="facilityIndex === 0">
                <p>Splitter</p>
                <h5>{{ facility?.cable }}</h5>
                <p>Network Port</p>
                <h5>{{ facility?.pair }}</h5>
                <hr>
                <p>Network Port</p>
                <h5>NPN-{{ (+facility?.cable - 1)*32 + (+facility?.pair) }}</h5>
                <p>Access Port</p>
                <h5>APN-{{ facility?.port }}</h5>
              </ng-container>
              <ng-container *ngIf="facilityIndex === 1">
                <p>Cable</p>
                <h5>{{ facility?.cable }}</h5>
                <p>Network Port</p>
                <h5>NPN-{{ facility?.pair }}</h5>
                <p>Access Port</p>
                <h5>APN-{{ facility?.port }}</h5>
              </ng-container>
            </ng-container>
            <ng-container *ngIf="!isFiber">
              <ng-container *ngIf="facility?.cable">
                <p>Cable</p>
                <h5>{{ facility?.cable }}</h5>
              </ng-container>
              <ng-container *ngIf="facility?.pair">
                <p>Pair</p>
                <h5>{{ facility?.pair }}</h5>
              </ng-container>
              <ng-container *ngIf="facility?.port">
                <p>BP</p>
                <h5>{{ facility?.port }}</h5>
              </ng-container>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</div>