.navbar-brand {
  position: absolute;
  left: 50%;
  margin-left: -35px !important;
  /* 50% of your logo width */
  top: 10px;
  display: block;
}

.offcanvas {
  width: 70%;
}

.logout-container {
  position: absolute;
  top: 0;
  right: 0;
  padding: 15px;
  filter: invert(1);
}
