<nav class="navbar navbar-expand-lg navbar-dark sticky-top bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="">
      <img src="../../../assets/att-logo-white.png" width="30" height="30" alt="Logo" >
    </a>
    <button class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navContent"
      aria-controls="navContent"
      aria-expanded="false"
      aria-label="navigation toggle">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
        </li>>
        <li>
          <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown">Mini-projects</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" routerLink="touch-n-go">Touch 'n' Go</a></li>
            <li><a class="dropdown-item" routerLink="ticket-generator">Ticket Generator</a></li>
            <li><a class="dropdown-item" routerLink="qc-timer">QC Timer</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="help">Help</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="we-track">weTrack</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- If you'd like to add something, check this resource: https://getbootstrap.com/docs/5.2/components/navbar/ -->