<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">Atlas BootCamp</a>
    <button class="navbar-toggler" 
      type="button" 
      data-bs-toggle="collapse" 
      data-bs-target="#navContent" 
      aria-controls="navContent" 
      aria-expanded="false" 
      aria-label="navigation toggle">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <ng-container *ngFor="let route of navRoutes">
          <li class="nav-item">
            <ng-container *ngIf="route?.path !== ''">
              <a [href]="route?.path" class="nav-link">{{route?.data?.['title']}}</a>
            </ng-container>
          </li>
        </ng-container>
      </ul>
    </div>
  </div>
</nav>
<!-- If you'd like to add something, check this resource: https://getbootstrap.com/docs/5.2/components/navbar/ -->