<nav class="navbar navbar-light sticky-top bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="../../../assets/att-logo-white.png" width="30" height="30" alt="Logo" >
    </a>
    <button class="navbar-toggler navbar-dark" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Menu</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-start flex-grow-1 pe-3">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#" data-bs-dismiss="offcanvas">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" routerLink="weatherAlert" data-bs-dismiss="offcanvas">Alerts</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" routerLink="help" data-bs-dismiss="offcanvas">Help</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Map</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Prior Tickets</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Tools</a>
          </li> <hr>
          <li class="nav-item">
            <a class="nav-link" href="#">Timesheet</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">System Health <img class="float-end" src="../../assets/idkweather.png">
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">News</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Safety</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Profile</a>
          </li>


          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Mini-projects
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#" routerLink="we-track">weTrack</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" routerLink="touch-n-go" data-bs-dismiss="offcanvas">Touch 'n' Go</a></li>
              <li><a class="dropdown-item" routerLink="ticket-generator" data-bs-dismiss="offcanvas">Ticket Generator</a></li>
              <li><a class="dropdown-item" routerLink="qc-timer" data-bs-dismiss="offcanvas">QC Timer</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </nav>
<!-- If you'd like to add something, check this resource: https://getbootstrap.com/docs/5.2/components/navbar/ -->
