<!-- office info and Touch N Go feature - will be moving to touchNgo component-->
<div class="container">
    <div class="row">
      <div class="col-6">
        <div class="alert alert-primary">
          Office Info for current job:<br><br> <!-- use binding to add data to items below -->
          WireCenter: 456123<br>
          WireCenter Name: Capitol<br>
          Address: 1234 Some Rd. <a href="#">map</a><br>
          Tel Number: 123-456-7890  <a href="tel:1234567890">Click to Call</a><br>
          Assigned tech on duty: Mary Smith <div>Initiate Touch N Go session: <button btn-success>Touch n Go</button><br></div>
          <!-- touch n go button will open new screen and setup http session between inside and outside techs -->
          C.O. tech cell number: 890-567-1234 <a href="tel:8905671234">Click to Call</a><br>
        </div>
      </div>
    </div>
  </div>