<div class="container">
  <div class="row">
    <div class="col">
      <h1>Welcome to Atlas BootCamp</h1>
      <h5>Made by some, and some for all.</h5>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <div class="alert alert-primary">This is an alert. This is not a test.</div>
    </div>
  </div>
</div>
<p style="margin-top:200px; color:lightgray">This is 
  <span style="border-bottom: 1px dotted blue;padding:1px">
    <span style="border-bottom: 1px dotted blue;">
      are</span></span>&nbsp;project.
</p>