<!-- <div class="container">
  <div class="row">
    <div class="col">
      <h1>Welcome to Atlas BootCamp</h1>
      <h5>Made by some, and some for all.</h5>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <div class="alert alert-primary">This is an alert. This is not a test.</div>
    </div>
  </div>
</div>
<p style="margin-top:200px; color:lightgray">This is
  <span style="border-bottom: 1px dotted blue;padding:1px">
    <span style="border-bottom: 1px dotted blue;">
      are</span></span>&nbsp;project.
</p>
<p>Ok, I'm over the silly aspect of this, we can cut it now. -Micah</p>
-->
<ng-container *ngIf="weatherAlerts && weatherAlerts.length > 0">
  <app-weather-alert [alert]="weatherAlerts" ></app-weather-alert>
</ng-container>
<div class="container">
  <div class="row mb-5">
    <div class="col text-center">
      <div class="card pt-3">
        <h3>Works well with others.</h3>
        <hr>
        <h5>Be safe!</h5>
      </div>
    </div>
  </div>

  <!-- <ng-container *ngIf="weatherAlerts && weatherAlerts.length > 0">
    <div class="row mb-5">
      <div class="col">
        <div class="card p-2">
          <h5>Weather Alerts:</h5>
          <ng-container *ngFor="let alert of weatherAlerts">
            <!-- this should really be a component, just putting as test placeholder for now! -->
            <!-- <div class="card mb-1 p-2">
              <div class="text-center">
                <span><b>{{ alert.event ? alert.event : 'Alert!' }}</b></span>
              </div>
              <hr class="mt-1 mb-1">
              <span>Status: {{ alert.status ? alert.status : 'Unknown' }}</span>
              <span>Severity: {{ alert.severity ? alert.severity : 'Unknown' }}</span>
              <span>Urgency: {{ alert.urgency ? alert.urgency : 'Unknown' }}</span>
              <span>Message: {{ alert.messageType ? alert.messageType : 'Unknown' }}</span>
            </div>
          </ng-container> -->
        <!-- </div>
      </div>
    </div>
  </ng-container> -->
  <div class="row mb-4">
    <div class="col text-center">
      &larr;
    </div>
    <div class="col text-center">
      <div class="card">
        Today
      </div>
    </div>
    <div class="col text-center">
      &rarr;
    </div>
  </div>
  <div class="row mb-2">
    <div class="col text-start">
      <h4><b>Your Stuff (LMNO_USA_TECH)</b></h4>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <ng-container *ngFor="let job of ['Install', 'Repair', 'Helper', 'BSW', 'IPCO Jumper']; let i = index">
        <div class="card mb-2" style="overflow:hidden;">
          <div class="row">
            <div class="col-3 text-center pt-3" style="background-color:#444; color: white;">
              <p>JOB</p>
              <p>{{ i+1 }}</p>
            </div>
            <div class="col-9">
              <p>ID: {{ (i+1)*220123456789%99999 }}</p> <!-- just a stupid way to generate a randomish number -->
              <h5>{{ job }}</h5>
              <p>Appt: {{ ['8-10', '12-4', '8-8', '9-2', '8-4:30'][i] }}</p>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>
