<div class="job-header-bar" [ngStyle]="{ 'background-color': job && job.jobTypeColor ? job.jobTypeColor: 'gray' }">
  <div class="appointment-text">APPT: {{ job?.appointmentWindow }}</div>
  <div class="row">
    <div class="col">
      <h1>{{ job?.jobType }}</h1>
    </div>
    <div class="col-auto text-end">
      <div class="etc-box text-start">
        <span class="dot dot-green me-2"></span>
        ETC: Soon
      </div>
    </div>
  </div>
  <nav class="nav">
    <ng-container *ngIf="tabTitleRoutes">
      <ng-container *ngFor="let tab of tabTitleRoutes; let i = index;">
        <app-universal-nav-tab [tabText]="tab" [tabIsActive]="i === activeTab" (click)="onTabClick(i)"></app-universal-nav-tab>
      </ng-container>
    </ng-container>
  </nav>
</div>
<div class="container">
  <div class="row">
    <div class="col">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

