.job-header-bar {
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

.appointment-text {
  font-family:'Courier New', Courier, monospace;
}

h1 {
  font-size: xx-large;
}