<div class="margin-left-20">
  <div class="row">
    <div class="col text-start">
      <label for="uni-dropwdown">{{ labelTitle }}</label>
    </div>
  </div>
  <div class="row">
    <div class="col text-start">
      <select class="form-select" id="uni-dropdown" (change)="onValueChanged()" [(ngModel)]="formValue">
        <ng-container *ngIf="dropdownOptions">
          <ng-container *ngFor="let dropdownOption of dropdownOptions; let i = index;">
            <ng-container *ngIf="dropdownOption">
              <option [value]="i">{{ dropdownOption }}</option>
            </ng-container>
          </ng-container>
        </ng-container>
      </select>
    </div>
  </div>
</div>