<p>This is 
  <span style="border-bottom: 1px dotted #ff0000;padding:1px">
    <span style="border-bottom: 1px dotted #ff0000;">
      are
    </span>
  </span> 
project.</p>
<br>
<br>
<div class="container">
  <div class="row">
    <div class="col">
      <h1>WELCOME TO THE ATLAC</h1>
      <h3>(not a copyright infringement)</h3>
      <h5>(please don't sue us)</h5>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-6">
      <div class="alert alert-primary">Test</div>
    </div>
  </div>
</div>

