<div class="container">
  <div class="row mb-5">
    <div class="col text-center">
      <div class="card pt-3">
        <h3>Weather Alerts</h3>
        <hr>
        <h5>Active weather alerts in your area:</h5>
      </div>
    </div>
  </div>
  <ng-container *ngFor="let alert of weatherAlertResponse?.allActiveWeatherAlerts; let i = index">
    <div class="card mb-2">
      <div class="row">
        <div class="col-3 text-center pt-3 block">
          <p>ALERT</p>
          <p>{{i+1}}</p>
        </div>
        <div class="col-9">
          <h5>{{alert?.event}}</h5>
          <p>{{alert?.description}}</p>
        </div>
      </div>
    </div>
  </ng-container>
