<div class="container">
  <div class="row mb-5">
    <div class="col text-center">
      <div class="card pt-3">
        <h3>Weather Alerts</h3>
        <hr>
        <h5>Active weather alerts in your area:</h5>
      </div>
    </div>
  </div>
  <ng-container *ngIf="weatherAlertResponse?.allActiveWeatherAlerts?.length > 0">
    <ng-container *ngFor="let alert of weatherAlertResponse?.allActiveWeatherAlerts; let i = index">
      <div class="card my-4 border" [ngClass]="{'border-danger': alert?.event?.includes('Warning') || alert?.event?.includes('Extreme'),'border-warning': alert?.event?.includes('Watch')}">
        <div class="card-header"
          [ngClass]="{
            'bg-danger': alert?.event?.includes('Warning') || alert?.event?.includes('Extreme'),
            'text-light': alert?.event?.includes('Warning') || alert?.event?.includes('Extreme'),
            'bg-warning': alert?.event?.includes('Watch')}">
          <h4 class="card-title">{{alert?.event ? alert?.event : 'Weather Alert'}}</h4>
        </div>
        <div class="card-body">
          <p class="card-text">{{alert?.headline}}</p>
          <ng-container *ngIf="alert?.safetyInfo">
            <a data-bs-toggle="modal" data-bs-target="#detailsModal" class="text-end text-decoration-none" (click)="setSafetyInfoForModal(alert?.safetyInfo)">Safe Work Practice</a>
          </ng-container>
          
          <div class="collapse" [id]="'seeMore' + i">
            <hr>
            <p [ngStyle]="{'font-size': alert?.description?.length > 150 ? '0.9rem' : 'default'}">{{alert?.description}}</p>
          </div>
          <hr>
          <div class="text-center pt-2">
            <a class="text-decoration-none text-dark" data-bs-toggle="collapse" [attr.data-bs-target]="'#seeMore' + i">Show Description</a>
          </div>
        </div>
      </div>
    </ng-container>
  </ng-container>
  <div class="modal fade" id="detailsModal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5">Working Safe</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <p>{{modalSafetyInfo?.description}}</p>
            <ul>
              <ng-container *ngFor="let guideline of modalSafetyInfo?.guidelines">
                <li>{{guideline}}</li>
              </ng-container>
            </ul>
            <p>For More Info: <a class="text-decoration-none" [href]="modalSafetyInfo?.jobAidLink">{{modalSafetyInfo?.jobAidTitle}}</a> </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Dismiss</button>
        </div>
      </div>
    </div>
  </div>
</div>