.card {
  overflow: hidden;
}
.equipment-box {
  width: 100%;
  background-color: white;
  padding: 10px;
}

.equipment-icon-box {
  aspect-ratio: 1 / 1;
}

.stb-gap {
  height: 40%;
}

.stb-box {
  background-color: black;
  width: 70%;
  height: 15%;
  margin-left: 15%;
}
