<ng-container *ngIf="weatherAlertResponse?.showAlertToast">
  <app-weather-alert [weatherAlert]="weatherAlertResponse"></app-weather-alert>
</ng-container>
<div class="container pb-5">
  <div class="row mb-5">
    <div class="col text-center">
      <div class="card pt-3">
        <img src="../../../assets/banner.png" class="banner">
        <h5>Be safe!</h5>
      </div>
    </div>
  </div>
  <div class="row mb-4">
    <div class="col text-center">
      &larr;
    </div>
    <div class="col text-center">
      <div class="card">
        Today
      </div>
    </div>
    <div class="col text-center">
      &rarr;
    </div>
  </div>
  <div class="row mb-2">
    <div class="col text-start">
      <h4><b>Your Stuff (LMNO_USA_TECH)</b></h4>
    </div>
  </div>
  <div class="row">
    <div class="col end-0">
      <app-job-list></app-job-list>
    </div>
  </div>
  <div class="row my-5">
    <div class="col-9 d-grid"> 
      <button type="button" class="btn btn-primary" [disabled]="!jobsResponse" (click)="onRequestJobButtonClick()">Request Job</button>
    </div>
    <div class="col-3 d-grid">
      <button type="button" class="btn btn-secondary" (click)="onRefreshJobList()">Refresh</button>
    </div>
  </div>
</div>