<ng-container *ngIf="!menuLink?.hr">
  <li class="nav-item" [ngClass]="menuLink?.dropdown ? 'dropdown' : ''" (click)="menuLink?.callback && menuLink?.callback()">
    <ng-container *ngIf="menuLink?.dropdown">
      <a class="nav-link dropdown-toggle active" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        {{ menuLink?.text }}
        <ng-container *ngIf="menuLink?.img">
          <img class="float-end" [src]="menuLink?.img?.path" [alt]="menuLink?.img?.alt" [width]="menuLink?.img?.width ? menuLink?.img?.width : '30'" [height]="menuLink?.img?.height ? menuLink?.img?.height : '30'">
        </ng-container>
      </a>
      <ul class="dropdown-menu">
        <ng-container *ngFor="let dropdown of menuLink?.dropdown">
          <li>
            <ng-container *ngIf="!dropdown?.hr">
              <a class="dropdown-item" [routerLink]="dropdown?.routerLink" data-bs-dismiss="offcanvas">
                {{ dropdown?.text }}
                <ng-container *ngIf="dropdown?.img">
                  <img class="float-end" [src]="dropdown?.img?.path" [alt]="dropdown?.img?.alt" [width]="dropdown?.img?.width ? dropdown?.img?.width : '30'" [height]="dropdown?.img?.height ? dropdown?.img?.height : '30'">
                </ng-container>
              </a>
            </ng-container>
            <ng-container *ngIf="dropdown?.hr">
              <hr class="dropdown-divider">
            </ng-container>
          </li>
        </ng-container>
      </ul>
    </ng-container>
    <ng-container *ngIf="!menuLink?.dropdown">
      <a class="nav-link active" [routerLink]="menuLink?.routerLink" data-bs-dismiss="offcanvas">
        {{ menuLink?.text }}
        <ng-container *ngIf="menuLink?.img">
          <img class="float-end" [src]="menuLink?.img?.path" [alt]="menuLink?.img?.alt" [width]="menuLink?.img?.width ? menuLink?.img?.width : '30'" [height]="menuLink?.img?.height ? menuLink?.img?.height : '30'">
        </ng-container>
      </a>
    </ng-container>
  </li>
</ng-container>
<ng-container *ngIf="menuLink?.hr">
  <hr>
</ng-container>