<ng-container *ngIf="!menuItem?.isHr">
  <li class="nav-item" [ngClass]="{'dropdown' : menuItem?.dropdown}" (click)="menuItem?.callback && menuItem?.callback()">
    <ng-container *ngIf="menuItem?.dropdown">
      <a class="nav-link dropdown-toggle active" [ngClass]="{'disabled' : menuItem?.disabled, 'active' : !menuItem?.disabled}" [attr.aria-disabled]="menuItem?.disabled" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        {{ menuItem?.text }}
        <ng-container *ngIf="menuItem?.img">
          <img class="float-end" [src]="menuItem?.img?.path" [alt]="menuItem?.img?.alt" [width]="menuItem?.img?.width ? menuItem?.img?.width : '25'" [height]="menuItem?.img?.height ? menuItem?.img?.height : '25'">
        </ng-container>
      </a>
      <ul class="dropdown-menu">
        <ng-container *ngFor="let dropdown of menuItem?.dropdown">
          <li>
            <ng-container *ngIf="!dropdown?.isHr">
              <a class="dropdown-item" [ngClass]="{'disabled' : dropdown?.disabled}" [attr.aria-disabled]="dropdown?.disabled" [routerLink]="dropdown?.routerLink" data-bs-dismiss="offcanvas">
                {{ dropdown?.text }}
                <ng-container *ngIf="dropdown?.img">
                  <img class="float-end" [src]="dropdown?.img?.path" [alt]="dropdown?.img?.alt" [width]="dropdown?.img?.width ? dropdown?.img?.width : '25'" [height]="dropdown?.img?.height ? dropdown?.img?.height : '25'">
                </ng-container>
              </a>
            </ng-container>
            <ng-container *ngIf="dropdown?.isHr">
              <hr class="dropdown-divider">
            </ng-container>
          </li>
        </ng-container>
      </ul>
    </ng-container>
    <ng-container *ngIf="!menuItem?.dropdown">
      <a class="nav-link" [ngClass]="{'disabled' : menuItem?.disabled, 'active' : !menuItem?.disabled}" [attr.aria-disabled]="menuItem?.disabled" [routerLink]="menuItem?.routerLink" data-bs-dismiss="offcanvas">
        {{ menuItem?.text }}
        <ng-container *ngIf="menuItem?.img">
          <img class="float-end" [src]="menuItem?.img?.path" [alt]="menuItem?.img?.alt" [width]="menuItem?.img?.width ? menuItem?.img?.width : '25'" [height]="menuItem?.img?.height ? menuItem?.img?.height : '25'">
        </ng-container>
      </a>
    </ng-container>
  </li>
</ng-container>
<ng-container *ngIf="menuItem?.isHr">
  <hr>
</ng-container>