<h3>An attempt to make a countdown timer that will always be accurate</h3>
<hr>
<p>How this works:</p>
<ol>
  <li>You'll note the {{ timerLength }} second countdown timer below. Refresh the page to reset the timer</li>
  <li>If navigating away doesn't pause the timer, in chrome you can pause the timer with the following steps:</li>
  <ol>
    <li>Press F12 to open developer tools</li>
    <li>Press F8 to navigate to the javascript source tab</li>
    <li>Press F8 again to pause the javascript</li>
  </ol>
  <li>Wait a few seconds, and note the timer is NOT counting down</li>
  <li>When you're ready to resume, press F8 again or click the resume button in the top menu</li>
  <li>Note the timer resumes where it <b>would have left off</b> and continues normally.</li>
</ol>
<hr>
<h4>Countdown Timer: {{ countdownTimer }}</h4>